<header>
  <div class="sign_btn">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <a href="signup-state-city">Back</a>
  </div>
</header>

<div class="container">
  <div class="sign-content">
    <h2>Create a password</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label>Make one secure password</label>
        <input autofocus formControlName="password" type="password" maxlength="8" minlength="6" class="form-control ps" placeholder="4A890"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.pattern">One capital case, one lower case, one number and total 8 character only</div>
        </div>
      </div>
      <div class="nt-btn">
        <button class="fw-btn">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
</div>