<body> 
    <div class="notification">
      <img src="../../assets/img/application.png">
      <div class="container">
        <div class="header profile-icons">
          <a (click)="back()"><img src="../../assets/img/back2.png" /></a>
          <a [routerLink]="['/home']"><img src="../../assets/img/home2.png" class="home2"/></a>
           <div class="Profile">
             <div class="dt-tabs">
                   <!--<div class="show-hidden-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div> -->
                    <div class="hidden-menu" style="display: none;">
                      <div class="arrow">
                          <i class="fa fa-caret-up" aria-hidden="true"></i>
                      </div>
                      <ul>
                        <li>
                          <a href="#">...</a> 
                        </li>
                        <li>
                            <a href="#">...</a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div> -->
        </div>
        
        <div class="form_areas">
            <h3>Notifications</h3>
              <div class="notify" *ngIf="loading">
                  <div class="notify_tab" *ngFor="let data of resData">
                      <h3>{{data.title}}</h3>
                      <div class="notify-cont">
                          <p>{{data.message}}</p>
                          <a [routerLink]="[data.link]"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                      </div>
                      <div class="notify-foot">
                          <h5>{{data.created_at}}</h5>
                      </div>
                  </div>
              </div>
                <div class="no-data" *ngIf="dataLength == 0">
                  <img src="../../../assets/img/image.png">
                    <h2>No New Notification !</h2>
                </div>
              <div class="notify_tab" *ngIf="!loading">
                <ngx-skeleton-loader count="2" ></ngx-skeleton-loader>
              </div>
              <div class="notify_tab" *ngIf="!loading">
                <ngx-skeleton-loader count="2" ></ngx-skeleton-loader>
              </div>
              <div class="notify_tab" *ngIf="!loading">
                <ngx-skeleton-loader count="2" ></ngx-skeleton-loader>
              </div>
              <div class="notify_tab" *ngIf="!loading">
                <ngx-skeleton-loader count="2" ></ngx-skeleton-loader>
              </div>
         
        </div>
      </div>
    </div>
    <app-footer [pageName]="pageName"></app-footer>
  </body>