<div [ngClass]="[ uploading ? 'loader_parent' : '']"></div>
<div class="wrapper" >
    <div class="complete_profile">
        <div class="top_part">
            <div class="header">
                <!-- <a (click)="back()"><img src="https://img.icons8.com/material-rounded/30/000000/back--v1.png" /></a> -->
                <!-- <a [routerLink]="['/home']"><img src="https://img.icons8.com/material-outlined/25/000000/home--v2.png" /></a> -->
            </div>
            <div class="logo">
                <img src="../../../assets/img/logo.png" alt="logo">
            </div>
            <div class="form_area">
                <h2>Complete Your Profile</h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="progressbar">
                        <span class='active'>1</span>
                        <span>2</span>
                        <span>3</span>
                    </div>
                    <div class="content">
                        <p>Upload any 3 Profile Picture</p>
                    </div>
                    <div class="input_file">
                        <label class="uploadBtnWrap" for="files">
                            <input type="file" accept="image/*" multiple id="files" formControlName="files"  (change)="fileChangeEvent($event)" />
                            <span class="btn">Choose</span>
                            <span id="fileName">No file Selected</span>
                        </label>
                    </div>
                    <div style="display:flex;max-width:600px;overflow: auto;">
                        <div *ngFor="let item of ulpoadedFiles" style="margin:5px">
                          <span (click)="cropImage(item.imgId)">
                            <img [src]="item.imgBase64" style="max-width:300px;max-height:100px ;border:2px solid gray" />
                          </span>
                          <div class="close_btn" (click)="removeImage(item.imgId)"><span>+</span></div>
                        </div>
                  
                      </div>
                      <!-- <button ></button> -->
                      <button (click)="SaveAllImages()" *ngIf="ulpoadedFiles?.length == 3" class="next_btn">Next </button>
                      <!-- <div class="row" *ngIf="ulpoadedFiles?.length > 0">
                        <button (click)="SaveAllImages()">Save All</button>
                      </div> -->
                  
                      <!-- <div *ngIf="finalImageList?.length > 0" style="display:flex;max-width:600px;overflow: auto;">
                        final Image <br />
                        <div *ngFor="let item of finalImageList" style="margin:5px">
                            <img [src]="item" style="max-width:300px;max-height:100px ;border:2px solid gray" />
                        </div>
                  
                      </div> -->
                      <!--popup modal-->
                      <div class="backdrop" [ngStyle]="{'display':display}"></div>
                  
                      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Image Cropper</h4>
                              <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button> -->
                            </div>
                            <div class="modal-body">
                              <image-cropper [imageChangedEvent]="imageChangedEvent"
                                             [maintainAspectRatio]="true"
                                             [aspectRatio]="4 / 3"
                                             [resizeToWidth]="128"
                                             format="png"
                                             (imageCropped)="imageCropped($event)"
                                             (imageLoaded)="imageLoaded()"
                                             (cropperReady)="cropperReady()"
                                             (loadImageFailed)="loadImageFailed()" style="max-height:500px"></image-cropper>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" (click)="SaveCropedImage()">Save</button>
                              <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>                 
                </form>
            </div>
        </div>
    </div>
</div>
