<header>
    <div class="sign_btn">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <a href="forgot-password">Back</a>
    </div>        
  </header>
      
  <div class="container">
    <div class="sign-content">
      <h2>Reset Password</h2>      
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="password">Password</label>
        <input autofocus formControlName="password" type="password" maxlength="8" minlength="6" class="form-control ps" placeholder="4A890"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.max">Maximum 8 charector allow</div>
          <div *ngIf="f.password.errors.min">Minimum 6 charector allow</div>
        </div>
      </div>
      <button class="fw-btn">Conform <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
    </form>
  </div>