<div class="top-header">
    <div class="container">
      <div class="main">
        <div id="mySidenav" class="sidenav menu" *ngIf="openMenu">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <div class="Profile">
            <img src="../../../assets/img/profile.svg">
            <a >Hello {{currentUser.userDetails.name}}</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/application.svg">
            <a (click)='closeNav()' [routerLink]="['/my-aaplication']">Your Application</a>
          </div>
          <!-- <div class="menu-nav">
            <img src="../../../assets/img/notify.svg">
            <a >Notification</a>
          </div> -->
          <div class="menu-nav">
            <img src="../../../assets/img/upcoming.svg">
            <a (click)='closeNav()' [routerLink]="['/event',5]">Upcoming Events</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/traing.svg">
            <a (click)='closeNav()' [routerLink]="['/workshop',1]">Training Session</a>
          </div>
          <!-- <div class="menu-nav">
            <img src="../../../assets/img/shortlist.svg">
            <a >Shortlisted</a>
          </div> -->
          <div class="menu-nav">
            <img src="../../../assets/img/bts.svg">
            <a (click)='closeNav()' [routerLink]="['/bts-video']">BTS</a>
          </div>
          <!-- <div class="menu-nav">
            <img src="../../../assets/img/draft.png">
            <a >Your Drafts</a>
          </div> -->
          <div class="menu-nav">
            <img src="../../../assets/img/game.svg">
            <a (click)='closeNav()' [routerLink]="['/games']">Games</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/bookmark.svg">
            <a  (click)='closeNav()' [routerLink]="['/bookmark']">Bookmark</a>
          </div>
          <!-- <div class="menu-nav">
            <img src="../../../assets/img/classif.png">
            <a >Classified</a>
          </div> -->
          <div class="menu-nav">
            <img src="../../../assets/img/about-mccc.svg">
            <a (click)='closeNav()' [routerLink]="['/about-MCCC']">About MCCC</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/faq.svg">
            <a [routerLink]="['/faq']">FAQ's</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/help.svg">
            <a [routerLink]="['/help']">Help</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/upgrade-membership.png">
            <a [routerLink]="['/term-condition']">Terms & Condition</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/logout.png">
            <a (click)="logout()">Logout</a>
          </div>

        </div>
        <span (click)="openNav()"><img src="../../../assets/img/Menu.png" class="menu-img"></span>
        <div class="logo">
          <img src="../../../assets/img/logo-2.png">
        </div>
        <!-- <div class="search">
          <img src="../../../assets/img/search.png">
        </div> -->
        
        <div class="notify">
          <a [routerLink]="['/notification']"><img src="../../../assets/img/notify.svg"></a><span class="counts">{{getCount}}</span>
        </div>
      </div>
    </div>
  </div>