<div class="top-header">
    <div class="container">
      <div class="main">
        <div id="mySidenav" class="sidenav menu" *ngIf="openMenu">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <div class="Profile">
            <img src="../../../assets/img/profile.svg">
            <a href="#">Hello {{currentUser.userDetails.name}}</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/application.svg">
            <a href="#">Your Application</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/notify.svg">
            <a href="#">Notification</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/upcoming.svg">
            <a href="#">Upcoming Events</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/traing.svg">
            <a href="#">Training Session</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/shortlist.svg">
            <a href="#">Shortlisted</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/bts.svg">
            <a [routerLink]="['/bts-video']">BTS</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/draft.png">
            <a href="#">Your Drafts</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/game.svg">
            <a href="#">Games</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/classif.png">
            <a href="#">Classified</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/about-mccc.svg">
            <a href="#">About MCCC</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/faq.svg">
            <a href="#">FAQ's</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/help.svg">
            <a href="#">Helps</a>
          </div>
          <div class="menu-nav">
            <img src="../../../assets/img/help.svg">
            <a (click)="logout()">Logout</a>
          </div>

        </div>
        <span (click)="openNav()"><img src="../../../assets/img/Menu.png" class="menu-img"></span>
        <div class="logo">
          <img src="../../../assets/img/logo-2.png">
        </div>
        <div class="search">
          <img src="../../../assets/img/search.png">
        </div>
        <div class="notify">
          <img src="../../../assets/img/notification.png">
        </div>
      </div>
    </div>
  </div>