<div class="footer hm-bg" id="footer">
    <div class="grids">
      <div class="foot-tbs">
        <a [routerLink]="['/home']" [ngClass]="pageName == 'home' ? 'active' : ''">
          <i class="fa fa-home" aria-hidden="true"></i>
          <h5>Home</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a [routerLink]="['/my-aaplication']" [ngClass]="pageName == 'my-application' ? 'active' : ''">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <h5>My Application</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a [ngClass]="pageName == 'message' ? 'active' : ''">
          <i class="fa fa-comment" aria-hidden="true"></i>
          <h5>Message</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a (click)="openprofile()" [ngClass]="pageName == 'profile' ? 'active' : ''">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <h5>Profile</h5>
        </a>
      </div>
    </div>
  </div>
  <div id="profiles" class="profilenav" *ngIf="openprofilenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeprofile()">X</a>
     <div class="Profile">
       <img src="../../assets/img/profile.svg">
       <a href="#">Hello {{currentUser.userDetails.name}}</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/edit.png">
        <a >Edit</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/personla.png">
        <a [routerLink]="['/personal']">Personal</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/antonomy.png">
        <a [routerLink]="['/anatomy-inner']">Anatomy</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/skill.png">
        <a href="skill.html">Skill</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/previus.png">
        <a >Previous Works</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/images.png">
        <a >Images</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/vidoe.png">
        <a >Videos</a>
    </div>
    <div class="prof-nav">
        <img src="../../assets/img/call.png">
        <a [routerLink]="['/contact-details']">Contact Details</a>
    </div>
           <div class="prof-nav">
        <img src="../../assets/img/logout.png">
        <a (click)="logout()">Logout</a>
    </div>
  </div>