<div class="footer hm-bg" id="footer">
    <div class="grids">
      <div class="foot-tbs">
        <a [routerLink]="['/home']" class="active">
          <i class="fa fa-home" aria-hidden="true"></i>
          <h5>Home</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a [routerLink]="['/my-aaplication']">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <h5>My Application</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a>
          <i class="fa fa-comment" aria-hidden="true"></i>
          <h5>Message</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <h5>Profile</h5>
        </a>
      </div>
    </div>
  </div>