<div class="footer hm-bg" id="footer">
    <div class="grids">
      <div class="foot-tbs">
        <a [routerLink]="['/home']" [ngClass]="pageName == 'home' ? 'active' : ''">
          <i class="fa fa-home" aria-hidden="true"></i>
          <h5>Home</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a [routerLink]="['/my-aaplication']" [ngClass]="pageName == 'my-application' ? 'active' : ''">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <h5>My Application</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a [ngClass]="pageName == 'message' ? 'active' : ''">
          <i class="fa fa-gamepad" aria-hidden="true"></i>
          <h5>Games</h5>
        </a>
      </div>
      <div class="foot-tbs">
        <a [ngClass]="pageName == 'profile' ? 'active' : ''">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <h5>Profile</h5>
        </a>
      </div>
    </div>
  </div>