<header>
    <div class="sign_btn">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <a href="welcome">Back</a>
    </div>        
  </header>      
        <div class="container">
            <div class="sign-content">
      <h2>Registration process has been completed successfully </h2>
      <div class="success">
        <img src="../../../assets/img/success.svg">
        <h4>Success!</h4>
      </div>
            </div>
    <div class="proceed-txt">
      <p>Take a few minutes to complete your Profile</p>
        <button class="fw-btn proceed" (click)="completeYourProfile()">Proceed
          <i class="fa fa-angle-right"></i>
          <i class="fa fa-angle-right"></i>
          <i class="fa fa-angle-right"></i>
        </button>
  </div>
        </div>