@import 'pages/home';
@import 'pages/homeSlider';
@import 'pages/signUp';
@import 'pages/registration';
@import 'pages/createPassword';
@import 'pages/sucess';
@import 'pages/profilePhoto';
@import 'pages/completeProfile';
@import 'pages/finalSucces';
@import 'pages/mainHome';
@import 'pages/casting';
@import 'pages/workShop';
@import 'pages/bts';
@import 'pages/traning';
@import 'pages/forgotPassword';
@import 'pages/restPassword';
@import 'pages/castingInner';
@import 'pages/castingprofile';
@import 'pages/notification';
@import 'pages/thankyouCasting';
@import 'pages/workshopInner';
@import 'pages/workShopPrfolio';
@import 'pages/btsInner';
@import 'pages/btsi_inner_inner';
@import 'pages/myApplication';
@import 'pages/noInternet';
@import 'pages/inviteFrnds';
@import 'pages/about';
@import 'pages/faq';
@import 'pages/termCondition';
@import 'pages/bookmark';
@import 'pages/game';