<div class="header">
    <button class="skip">
        <a href="welcome">SKIP</a>
    </button>
</div>
<div class="event">
    <div class="container">
        <div class="event-content">
            <img src="../../assets/img/events.svg">
  <h2>Events</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s.</p>
  <a href="welcome" class="slide-btn3">
    <button><i class="fa fa-angle-right"></i></button>
  </a>
        </div>
    </div>
</div>