.splace_slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide {
      height: 100vh;      
  }
  .slick-disabled {
    display: none; 
    pointer-events:none;
  }
  