<div class="header">
    <button class="skip">
        <a href="welcome">SKIP</a>
    </button>
</div>
<div class="casting">
    <div class="container">
        <div class="casting-content">
            <img src="../../assets/img/casting.svg">
            <p>Get Updates on the most recent casting calls of feature films, TV commercials and other mediums. Register NOW!</p>
            <a href="splash2" class="slide-btn1">
                <button><i class="fa fa-angle-right"></i></button>
              </a>
        </div>
    </div>
</div>