<body class="hm_pg">
    <div class="appli">
      <img src="../../assets/img/application.png">
      <div class="container">
        <div class="header hd-icons">
         <a (click)="back()"><img src="../../assets/img/back.png" /></a>
          <a [routerLink]="['/home']"><img src="../../assets/img/home.png" /></a>
        </div>
        
        <div class="form_areas">
         <div class="appl">
             <h3>My Application</h3>
             <h5>Most Recent</h5>
             <a [routerLink]="['/my-casting/'+application.casting_id]" *ngFor="let application of applications; let i=index;">
                 <div class="appli-content" *ngIf="application.confirm == 1">
                 <h3>{{application.get_user_casting_model.title | titlecase}}</h3>
                 <p>{{application.get_user_casting_model.short_description}}</p>
             </div>
             </a>   
             <div class="item" *ngIf="!loading">
              <ngx-skeleton-loader count="12"></ngx-skeleton-loader>
            </div>    
            <div *ngIf="!noData && loading" class="no-data">
              <img src="../../../assets/img/image.png">
              <h2>No Data Available</h2>
            </div>      
         </div>
        </div>
      </div>
    </div>
    <app-footer [pageName]='pageName'></app-footer>
</body>