<body class="hm_pg">
  <app-header></app-header>
  <div class="bkmark">
  <div class="container">
      <div class="tabs" *ngIf="!bookmarkNoData">
      <h2>Casting Calls
          <hr class="on">
          <hr class="tw">
      </h2>
      <!--<a href="#">View All</a>-->
      </div>
      <div class="card-tbs" *ngFor="let bookmark of bookmarkData; let i=index;">
    
                      <div class='dt-tabs'>
                        <!-- <div class="show-hidden-menu">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                        <!-- <div class="hidden-menu" style="display: none;">
                          <ul>
                            <li>Save</li>
                            <li>Share</li>
                          </ul>
                        </div> -->
                      </div>
                      <h3 (click)="castingInner(bookmark.id)">{{bookmark.title}}</h3>
                      <p class="toggle-sec" [innerHtml]="doHtmlDisplay(bookmark.short_description)"></p>
                      <div class="details">
                        <div class="details-icons">
                          <i class="fa fa-transgender-alt" aria-hidden="true"></i>
                          <h4>{{bookmark.gender}}</h4>
                        </div>
                        <div class="details-icons" *ngIf="bookmark.closing_date != null">
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <h4 >{{bookmark.closing_date}}</h4>
                        </div>
                        <div class="details-icons">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <h4>{{bookmark.location}}</h4>
                        </div>
                      </div>
              
                      <div class="card-btn">
                        <div class="slide-btn" *ngFor="let tag of bookmark.tags.split(',');">
                          <a href="#">{{tag}}</a>
                        </div>         
                      </div>
      </div>

      <div class="tabs" *ngIf="!eventbookmarkNoData">
        <h2>Events
            <hr class="on">
            <hr class="tw">
        </h2>
        </div>
        <div class="card-tbs" *ngFor="let upcoming of eventBookmarkData;">      
          
          <h3 (click)="eventInner(upcoming.id)">Title: {{upcoming.title | titlecase}}</h3> 
           <p class="toggle-sec" [innerHtml]="doHtmlDisplay(upcoming.description)">
            <a (click)="eventInner(upcoming.id)" class="read-more">More...</a>
           </p>
          <div class="details">
             <div class="details-icons">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h4>{{upcoming.location | titlecase}}</h4>
            </div>
            <div class="details-icons">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 
              <h4>{{upcoming.start_date | date : "MMM,d,y"}}</h4>
            </div>
            <div class="details-icons">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <h4>{{upcoming.start_date | date : "h:mm a"}}</h4>
            </div>
            </div>
            </div> 
        <div class="tabs" *ngIf="!workshopbookmarkNoData">
          <h2>Workshop
              <hr class="on">
              <hr class="tw">
          </h2>
          </div> 
          <div class="card-tbs" *ngFor="let data of workshopBookmarkData">
            
            <h3 [routerLink]="['/workshop-registration/',data.id]">{{data.title}}</h3> 
            <p class="toggle-sec" [innerHtml]="doHtmlDisplay(data.description)">
            <a [routerLink]="['/workshop-registration/',data.id]" class="read-more">More...</a></p>
            <div class="details">
               <div class="details-icons">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4>{{data.location}}</h4>
              </div>
              <div class="details-icons">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <h4>{{data.start_date | date :'mediumDate'}}</h4>
              </div>
              <div class="details-icons">
               <i class="fa fa-clock-o" aria-hidden="true"></i>
                <h4>{{data.start_time_1}}</h4>
              </div>
            </div>
         </div>

      <div class="item" *ngIf="!loading">
        <ngx-skeleton-loader count="12"></ngx-skeleton-loader>
      </div>
      <div *ngIf="workshopbookmarkNoData && eventbookmarkNoData && bookmarkNoData && loading" class="no-data card-tbs">
        <img src="../../../assets/img/image.png">
        <h2>No Data Available</h2>
      </div>
  </div>
</div>
  <app-footer [pageName]="pageName"></app-footer>
</body>