<div class="header">
    <button class="skip">
        <a href="welcome">SKIP</a>
    </button>
</div>
<div class="traning">
    <div class="container">
        <div class="traning-content">
            <img src="../../assets/img/traning.svg">
  <h2>Training</h2>
            <p>Don't stop growing. Never limit your acting abilities. Our Acting training will provide you the challenge that you as an actor desperately require</p>
  <a href="splash3" class="slide-btn2">
    <button><i class="fa fa-angle-right"></i></button>
  </a>
        </div>
    </div>
</div>