.profile-dtl img{
    width:100%
}
.button_loader {
    position: absolute;
    left: 50%;
    top: 68%;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin: -76px 0 0 -76px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #ff6e61;
    animation: spin 2s linear infinite;
}
.multi-field button.close {
    font-size: 13px;
    position: relative;
    right: 5px;
}

button.btn.btn-primary {
    color: #fff;
    background-color: #ff6e61;
    border-color: #ff6e61;
}
button.btn.btn-secondary {
    color: #fff;
    background-color: #ff6e61;
    border-color: #ff6e61;
}
.modal-footer[_ngcontent-qom-c142] {
    display: flex;
    justify-content: space-between;
}
