<body class="hm_pg">
<div class="event-regist">
    <img src="../../../assets/img/apply.png">
    <div class="container">
      <div class="header hd-icons">
        <a (click)="back()"><img src="../../../assets/img/back2.png" /></a>
        <a [routerLink]="['/home']"><img src="../../../assets/img/home2.png" class="home2"/></a>
      </div>
      <div class="form_areas">
          <h1>Just Act Acting Workshop</h1>
          <p>10 Days Acting Workshop Organised by <br> Mukesh Chhabra Casting Co.</p>
          <p>The name and photo associated with your in App account will be recorded when you upload file and submit this form</p>
          
        <label>First Name<span class="text-danger">*</span></label>
        <input type="text" name="" value="Ritesh Pandey" placeholder="type here">

        <label>Age<span class="text-danger">*</span></label>
        <input type="text" name="" value="30" placeholder="type here">

        <label>Sex<span class="text-danger">*</span></label>
        <input type="text" name="" value="Male" placeholder="type here">

        <label>Date of Birth<span class="text-danger">*</span></label>
        <input type="tel" name="" value="12/11/2018" placeholder="type here">

        <label>Email Id<span class="text-danger">*</span></label>
        <input type="text" name="" value="riteshpandey@wdipl.com" placeholder="type here">

        <label>Contact Number<span class="text-danger">*</span></label>
        <input type="text" name="" value="+91 84 250 25713" placeholder="type here">

        <label>Emergency Contact<span class="text-danger">*</span></label>
        <input type="text" name="" value="" placeholder="type here">

        <label>School/College<span class="text-danger">*</span></label>
        <input type="text" name="" value="Bechelor's in Theater from NSD" placeholder="type here">
        
        <label>Address<span class="text-danger">*</span></label>
        <textarea placeholder="type here">35/2 Aram Nagar, Part 2, D-mart lane, Versova, Andheri(West), Mumbai, Maharashatra 400 062</textarea>
        
        <label>Current City<span class="text-danger">*</span></label>
        <input type="text" name="" value="Mumbai" placeholder="type here">
        
        <label for="add-more1">Adhar Card<span class="text-danger">*</span></label>
        <div class="upload">
            <input type="file"  id="add-more1" name="" value="" placeholder="type here">
            <div class="upload-icons">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <h5>Add More</h5>
            </div>
        </div>
        
        <label for="add-more2">Pan Card<span class="text-danger">*</span></label>
        <div class="upload">
            <input type="file" id="add-more2" name="" value="" placeholder="type here">
            <div class="upload-icons">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <h5>Add More</h5>
            </div>
        </div>
        
         <label>Why you want to attend this workshop?<span class="text-danger">*</span></label>
        <textarea placeholder="Your Answer"></textarea>
        

        <div class="apply-btn">
          <a [routerLink]="['/event-thankyou']"> submit</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-footer [pageName]="pageName"></app-footer> -->
</body>