<body class="hm_pg">
    <div class="thnk">
      <img src="../../../assets/img/apply.png">
      <div class="container">
        <div class="header hd-icons">
          <img src="../../../assets/img/back.png" />
          <img src="../../../assets/img/home.png" />
        </div>
        
        <div class="form_areas">
          <h1>Thank You!</h1>
          <h3>Your submission has been received.</h3>
          <img src="../../../assets/img/mail.png">
          <h4>We will get back to you soon!!</h4>
          <h5>Your Application No. is {{applicationNo}}</h5>
          <hr>
          <div class="thnk-btn">
            <a [routerLink]="['/home']">Let’s Explore</a>
          </div>
        </div>
      </div>
    </div>
</body>