<div class="profile-dtl">
    <img src="../../../assets/img/apply.png">
    <div class="container">
      <div class="header profile-icons">
        <a (click)="back()"><img src="../../../assets/img/back2.png" /></a>
        <div class="Profile">
            <img src="../../../assets/img/profile.svg">
            <a>Hello Ritesh</a>
        </div>
      </div>
      
      <div class="form_areas">
          <h5>Personal Information</h5>
          <label>First Name<span class="text-danger">*</span></label>
        <input type="text" name="" value="Ritesh Pandey" placeholder="type here">

        <label>Age<span class="text-danger">*</span></label>
        <input type="text" name="" value="30" placeholder="type here">

        <label>Height<span class="text-danger">*</span></label>
        <input type="text" name="" value="5ft 11inch" placeholder="type here">

        <label>Contact Number<span class="text-danger">*</span></label>
        <input type="tel" name="" value="+91 84 25025 713" placeholder="type here">

        <label>Language<span class="text-danger">*</span></label>
        <input type="text" name="" value="English, Hindi, Marathi" placeholder="type here">

        <label>Current City<span class="text-danger">*</span></label>
        <input type="text" name="" value="Mumbai" placeholder="type here">

        <label>Home Town<span class="text-danger">*</span></label>
        <input type="text" name="" value="Mumbai" placeholder="type here">

        <label>Hobbies<span class="text-danger">*</span></label>
        <input type="text" name="" value="Cricket, Hockey" placeholder="type here">
        
        <div class="profil-btn">
          <a href="#"> Save</a>
          <a href="#" class="wht"> Cancle</a>
        </div>
       
      </div>
    </div>
  </div>
<app-footer [pageName]="pageName"></app-footer>