<div class="profile-dtl">
    <img src="../../../assets/img/details.png">
    <div class="container">
      <div class="header profile-icons">
        <a (click)="back()"><img src="../../../assets/img/back2.png" /></a>
        <div class="Profile">
            <img src="../../../assets/img/profile.svg">
            <a href="#">Hello Ritesh</a>
        </div>
      </div>
      
        <div class="form_areas">
                <h5>Manage Your Role Preferences</h5>
                        <h3>Gender</h3>
                        <div class="role">
                          <label>Male</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Female</label>
                          <button type="button" class="btn btn-xs btn-toggle" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <h3>Type</h3>
                        <div class="role">
                          <label>Movies</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Short Films</label>
                          <button type="button" class="btn btn-xs btn-toggle" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Web Series</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Music Videos</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>TVC</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <h3>Genres</h3>
                        <div class="role">
                          <label>Actions</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Comedy</label>
                          <button type="button" class="btn btn-xs btn-toggle" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Fantasy</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Mystery</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Romance</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Thriller</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Western</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>
                        
                        <div class="role">
                          <label>Horror</label>
                          <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
                              <div class="handle"></div>
                          </button>
                        </div>

        
        
        <div class="profil-btn">
          <a href="#"> Save</a>
          <a href="#" class="wht"> Cancel</a>
        </div>
       
      </div>
    </div>
  </div>
<app-footer [pageName]="pageName"></app-footer>