<router-outlet></router-outlet>
<!-- <div *ngIf="noInternetConnection" style="text-align: center;">    
    <h1>THERE IS NO INTERNET CONNECTION</h1>    
</div>    
<div *ngIf="!noInternetConnection" style="text-align: center;">     
    <h1>INTERNET CONNECTION IS THERE</h1>     
</div>  -->
<!-- <ng-http-loader 
    [backdrop]="true"
    [backgroundColor]="'#ff0000'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [spinner]="spinnerStyle.skThreeBounce"
    >
</ng-http-loader> -->
