<div class="top-header">
    <div class="container">
      <div class="main">
        <a (click)="back()" style="padding-left:14px;"><img src="../../../assets/img/back.png" /></a>
        
        <!-- <span (click)="openNav()"><img src="../../../assets/img/Menu.png" class="menu-img"></span> -->
        <div class="logo">
          <img src="../../../assets/img/logo-2.png">
        </div>
        <!-- <div class="search">
          <img src="../../../assets/img/search.png">
        </div> -->
        
        <a [routerLink]="['/home']" style="padding-right:14px;"><img src="../../../assets/img/home.png" class="home2"/></a>
      </div>
    </div>
  </div>