<body class="hm_pg inner">
    <div class="casting-inner">
      <!-- <img *ngIf="Apiloading" src="../../../assets/img/inner.png" class="hd-img"> -->
      <img *ngIf="!Apiloading" src="{{image}}" class="hd-img">
      <div class="container">
        <div class="header hd-icons">
          <a (click)="back()"><img src="../../../assets/img/back2.png" /></a>
          <a [routerLink]="['/home']"><img src="../../../assets/img/home2.png" class="home2"/></a>
        </div>
        
        <div class="form_inner">
          <div [innerHTML]="long_description"></div>
          <div class="card-txt">
              <p>Apply Date: {{applyDate}}</p>
              <p>Apllication No: {{applicationId}}</p>
          </div>
         <div class="card-icons">
            <i (click)="bookmark(castingId)" [ngClass]="bookmarks != '1'?'fa fa-bookmark-o':'fa fa-bookmark'"  aria-hidden="true"></i>
            <!-- <i class="fa fa-share-alt" aria-hidden="true"></i> -->
          </div>
          <div *ngIf="applicationStatus != null" class="inner-btn">
            <a> {{applicationStatus | titlecase}}</a>
          </div>
        </div>
        <div class="item" *ngIf="!loading">
          <ngx-skeleton-loader count="12" ></ngx-skeleton-loader>
        </div>
      </div>      
    </div>
    <app-footer [pageName]='pageName'></app-footer>>
</body>