.upload-options {
    z-index: 1;
    position: relative;
    height: 110px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
    bottom: 110px;
}
.upload-options input {
    height: 110px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.multi-field button.close {
    font-size: 13px;
    position: relative;
    right: 5px;
    top: 5px;
}
.box {
    display: block;
    min-width: 85px;
    height: 110px;
    margin: 10px 2px;
    background-color: hsl(0deg 0% 100%);
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}
.upload-img {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.pht, .vdi {
    margin-bottom: 30px;
    margin-top: 20px;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.apply-btn button {
    width: 122px;
    background: #ff6e61;
    border-radius: 25px;
    color: #fff !IMPORTANT;
    text-align: center;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
}
/* .upload-video {
    display: block;
    justify-content: space-evenly;
}
.apply-btn {
    display: block;
    justify-content: space-between;
} */
/* .crooping_modal, .crooping_modal1{
    overflow: hidden;
}
.crooping_modal .modal, .crooping_modal1 .modal{
    top: initial!important;
}
.crooping_modal .modal-dialog, .crooping_modal1 .modal-dialog{
    max-height: 95vh;
}
.crooping_modal .modal.fade .modal-dialog,  .crooping_modal1 .modal.fade .modal-dialog{
    -webkit-transform: translate(0,0);
    -webkit-transform:initial!important;
    transform: initial!important;
    position: fixed;
    bottom: -100%;
    transition: 0.5s;
}
.crooping_modal .modal.fade.show .modal-dialog, .crooping_modal1 .modal.fade.show .modal-dialog{
    bottom: 0%;
}
.crooping_modal .modal.in .modal-dialog, .crooping_modal1 .modal.in .modal-dialog{
    -webkit-transform:initial!important;
    transform: initial!important;
}
.crooping_modal .modal-body #files, .crooping_modal1 .modal-body #files{
    display: none;
}
.crooping_modal .uploadBtnWraps, .crooping_modal1 .uploadBtnWraps{
    font-size: 14px;
    height: 45px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2.2rem;
}
.crooping_modal .uploadBtnWraps span.btn, .crooping_modal1 .uploadBtnWraps span.btn{
    display: inline-block;
    font-size: 14px;
    background: #377dfb;
    margin-right: 2rem;
    padding: 2px 18px;
    color: #fff;
    letter-spacing: 0.5px;
    border-radius: 0;
}
.crooping_modal #fileName, .crooping_modal #fileName{
    font-size: 14px;
    font-weight: 500;
}
.crooping_modal .croping_area, .crooping_modal1 .croping_area{
    min-height: 200px;
    margin: 1rem 0;
}
.crooping_modal .img_areas, .crooping_modal1 .img_areas{
    max-width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}
.crooping_modal .img_area img, .crooping_modal1 .img_area img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.img_area {display: inline-flex;margin: 5px;}
.img_area img {
width: 100px;
}
.crooping_modal .modal-footer, .crooping_modal1 .modal-footer {
display: flex;
justify-content: space-between;
}
.crooping_modal .btn-secondary, .crooping_modal1 .btn-secondary {
color: #fff;
background-color: #ff6e61;
border-color: #ff6e61;
}
.crooping_modal .btn-primary, .crooping_modal1 .btn-primary {
color: #fff;
background-color: #ff6e61;
border-color: #ff6e61;
}
.crooping_modal .close, .crooping_modal1 .close,.crooping_modal_close {
float: right;
font-size: 1.5rem;
font-weight: 300;
line-height: 1;
color: #fff;
text-shadow: 0 1px 0 #fff;
opacity: 1;
}
.img_area button.close {
position: absolute;
right: 10px;
color: #fff;
opacity: 1;
font-weight: 300;
font-size: 18px;
} */
/* .d-block .modal-dialog,.modal-content {
    bottom: 0% !important;
    position: fixed !important;
    transform: INITIAL !important;
    transition: 0.5s !important;
    width: 100% !IMPORTANT;
} */
button.btn.btn-primary {
    color: #fff;
    background-color: #ff6e61;
    border-color: #ff6e61;
}
button.btn.btn-secondary {
    color: #fff;
    background-color: #ff6e61;
    border-color: #ff6e61;
}
.modal-footer {
    display: flex;
    justify-content: space-between;
}
image-cropper {
    border: 2px dotted #ccc;
    margin-top: 10px;
    height: 285px !important;
}

