<div [ngClass]="[ !loading ? 'loader_parent' : '']"></div>
<div class="profile-dtl">
    <img src="../../../assets/img/application.png">
    <div class="container">
        <div class="header profile-icons">
            <a (click)="back()"><img src="../../../assets/img/back2.png" /></a>
            <div class="Profile">
                <img src="../../../assets/img/profile.svg">
                <a [routerLink]="['/home']">Hello {{currentUser.userDetails.name}}</a>
            </div>
          </div>      
        <div class="form_areas">
            <h5>Videos</h5>
            <form [formGroup]="form">
            <div class="vdi">
              <div class="upload-video">
                <div *ngIf="!newVideoAdded">
                  <div class="box" *ngFor="let video of datas;let i=index;">
                    <div class="video-player-wrapper">
    
                      <vg-player>
                        <vg-overlay-play></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                    
                        <vg-scrub-bar>
                          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                        </vg-scrub-bar>
                    
                        <vg-controls>
                          <vg-play-pause></vg-play-pause>
                          <vg-playback-button></vg-playback-button>
                    
                          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    
                          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                    
                          <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
                          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    
                          <!-- <vg-track-selector></vg-track-selector> -->
                          <vg-mute></vg-mute>
                          <vg-volume></vg-volume>
                    
                          <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                    
                        <video [vgMedia]="$any(media)"  #media id="singleVideo" preload="auto" >
                          <source src="https://www.youtube.com/watch?v=AG8_4UKdQ_Q" type="video/mp4">
                    
                          <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                            srclang="en" default>
                          <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                            srclang="es"> -->
                        </video>
                      </vg-player>
                    
                    </div>
                  </div>
                </div> 
                <div *ngIf="newVideoAdded">
                  <div class="box" *ngFor='let url of videos'>
                    <vg-player>
                      <vg-overlay-play></vg-overlay-play>
                      <vg-buffering></vg-buffering>
                  
                      <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                      </vg-scrub-bar>
                  
                      <vg-controls>
                        <vg-play-pause></vg-play-pause>
                        <vg-playback-button></vg-playback-button>
                  
                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  
                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                  
                        <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                  
                        <vg-track-selector></vg-track-selector>
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                  
                        <vg-fullscreen></vg-fullscreen>
                      </vg-controls>
                  
                      <video [vgMedia]="$any(media)"  #media id="singleVideo" preload="auto" >
                        <source src="{{url}}" type="video/mp4">
                  
                        <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                          srclang="en" default>
                        <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                          srclang="es"> -->
                      </video>
                    </vg-player>
                    <!-- <div class="upload-options">
                      <div class='multi-field'>
                        <button type="button" class="close" (click)="removeSelectedVideo(url)">X</button>
                      </div>
                    </div> -->
                  </div>  
                  </div>   
                   <!-- Progress Bar -->
        <!-- <div class="progress form-group" *ngIf="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="progress + '%'">{{progress}}%
          </div>          
      </div>   
      <span *ngIf="waitText">Please wait...</span>         -->
              </div>
              <div class="vdi-btn">
                  <i class="fa fa-plus-circle" aria-hidden="true"> </i>
                  <p (click)="open(video)">Select More Videos </p> <span style="margin: 5px;" class="fa fa-info-circle" placement="top" tooltip="select <strong>mp4</strong> video at the size of less than <strong>100mb</strong> !"></span>
                  
              </div>
            </div>
            <div class="profil-btn">
                <button (click)="submit()" type="button"> Save </button>
              <a (click)="back()" class="wht"> Cancel</a>
            </div>
          </form>
          
        </div>
    </div>
    
    <div class="loader_screen" *ngIf="!loading"></div>
    <div class="loaders" *ngIf="!videoloading">
      <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">Please wait...</div>
      </div>
    </div>
</div>
<ng-template #video let-modal>
  <div class="crooping-modal"> 
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select More Videos</h4>
      <button type="button" class="close" aria-label="Close" (click)="closevideomodel('close click')">
        <span aria-hidden="true">×</span>
      </button>
</div>
  <div class="modal-body">      
    <div class="form-group">
      <div class="input-group">
        <input type="file" class="image-upload" accept="video/*"  (change)="onVideoFileChange($event)" />
        <div class="error" *ngIf="fileSizeaInKB">Please Select file less then 100 MB</div>
      </div>
    </div>
    <hr>
    <div class="upload-video">
    <div class="box" *ngFor='let url of videosaved'>
      <video class="js--image-preview" width="30%" height="110px" controls>
        <source src="{{url}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <!-- <div class="upload-options">
        <div class='multi-field'>
          <button type="button" class="close" (click)="removeSelectedVideo(url)">X</button>
        </div>
      </div> -->
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closevideomodel('close click')">Close</button>
    <button *ngIf="!fileSizeaInKB && fileselected" type="button" class="btn btn-primary" (click)="savevideomodel('close click')">Save changes</button>
</div>
</div>
</ng-template>
<app-footer [pageName]="pageName"></app-footer>