<body class="hm_pg">
    <app-header></app-header>
<app-sticky-menu [stickymenu]='stickymenu'></app-sticky-menu>
    <div id="exTab1" class="inner-tabs">
        <ul class="nav nav-pills">
            <li [ngClass]="catId == 1 ? 'active':''" id="tb1"><a (click)="tab(1)"data-toggle="tab" [ngClass]="catId == 1 ? 'active':''">New </a></li>
            <li [ngClass]="catId == 2 ? 'active':''" id="tb2"><a (click)="tab(2)" data-toggle="tab" [ngClass]="catId == 2 ? 'active':''">Recommended</a></li>
            <li [ngClass]="catId == 3 ? 'active':''" id="tb3"><a (click)="tab(3)"data-toggle="tab" [ngClass]="catId == 3 ? 'active':''"> Ending Soon</a></li>
        </ul>
    </div>
    <div class="tab-content clearfix">
        <div class="required-tbs tab-pane" [ngClass]="catId == 1 ? 'active':''" id="tab1">
            <div class="container">
                <div class="tabs" *ngIf="!castingData">
                    <h2>New Casting Calls
                        <hr class="on">
                        <hr class="tw">
                    </h2>
                    <!--<a href="#">View All</a>-->
                </div>
                <div class="card-tbs" *ngFor="let casting of castings; let i=index;">
                  <div class='dt-tabs'>
                    <div class="show-hidden-menu" (click)="clickEvent(casting.id)">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="hidden-menu" *ngIf="status && casting.id == cardnum ? 'active':''">
                      <div class="arrow">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </div>
                      <ul>
                        <li (click)="bookmarkCasting(casting.id)">Save</li>
                        <!-- <li>Share</li> -->
                      </ul>
                    </div>
                  </div> 
                    <h3 (click)="castingInner(casting.id)">{{casting.title | titlecase}}</h3>
                    <p class="toggle-sec">{{casting.short_description.substr(0, 50)}}
                      <a (click)="castingInner(casting.id)" class="read-more">More...</a>
                    </p>
                    <div class="details">
                      <div class="details-icons">
                        <i class="fa fa-transgender-alt" aria-hidden="true"></i>
                        <h4>{{casting.gender}}</h4>
                      </div>
                      <div class="details-icons" *ngIf="casting.closing_date != null">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <h4 >{{casting.closing_date}}</h4>
                      </div>
                      <div class="details-icons">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4>{{casting.location}}</h4>
                      </div>
                    </div>
            
                    <div class="card-btn">
                      <div class="slide-btn" *ngFor="let tag of casting.tags;">
                        <a href="#">{{tag}}</a>
                      </div>         
                    </div>
                  </div>
                  <div class="item" *ngIf="!loading">
                    <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                  </div>
                  
                  <div *ngIf="!castingData && loading" class="no-data">
                    <img src="../../../assets/img/image.png">
                    <h2>No Data Available</h2>
                  </div>
                  
            </div>
        </div>

        <div class="recommended-tbs tab-pane" [ngClass]="catId == 2 ? 'active':''" id="tab2">
            <div class="container">
                <div class="tabs" *ngIf="!recommendData">
                    <h2>Recommended Calls
                        <hr class="on">
                        <hr class="tw">
                    </h2>
                    <!--<a href="#">View All</a>-->
                </div>
                <div class="card-tbs" *ngFor="let rcasting of recomended; let i=index;">
                  <div class='dt-tabs'>
                    <div class="show-hidden-menu" (click)="clickEvent(rcasting.id)">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="hidden-menu" *ngIf="status && rcasting.id == cardnum ? 'active':''">
                      <div class="arrow">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </div>
                      <ul>
                        <li (click)="bookmarkCasting(rcasting.id)">Save</li>
                        <!-- <li>Share</li> -->
                      </ul>
                    </div>
                  </div> 
                    <h3 class="grn" (click)="castingInner(rcasting.id)">{{rcasting.title}}</h3>
                    <p class="toggle-sec">{{rcasting.short_description.substr(0, 50)}}
                      <a (click)="castingInner(rcasting.id)" class="read-more">More...</a>
                    <div class="details">
                        <div class="details-icons">
                            <i class="fa fa-transgender-alt" aria-hidden="true"></i>
                            <h4>{{rcasting.gender}}</h4>
                        </div>
                        <div class="details-icons" *ngIf="rcasting.closing_date != null">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                            <h4 >{{rcasting.closing_date}}</h4>
                        </div>
                        <div class="details-icons">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h4>{{rcasting.location}}</h4>
                        </div>
                    </div>
                    <div class="card-btn">
                        <div class="slide-btn" *ngFor="let tag of rcasting.tags;">
                            <a href="#">{{tag}}</a>
                        </div>
                    </div>
                </div>                
                <div class="item" *ngIf="!loading">
                    <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                  </div>
                  <div *ngIf="!recommendData && loading" class="no-data">
                    <img src="../../../assets/img/image.png">
                    <h2>No Data Available</h2>
                  </div>
            </div>
        </div>

        <div class="call-ending-tbs tab-pane" [ngClass]="catId == 3 ? 'active':''" id="tab3">
            <div class="container">
                <div class="tabs" *ngIf="!endingSoonData">
                    <h2>Call Ending Soon
                        <hr class="on">
                        <hr class="tw">
                    </h2>
                    <!--<a href="#">View All</a>-->
                </div>
                <div class="card-tbs" *ngFor="let casting of callEndingSoon; let i=index;">
                  <div class='dt-tabs'>
                    <div class="show-hidden-menu" (click)="clickEvent(casting.id)">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="hidden-menu" *ngIf="status && casting.id == cardnum ? 'active':''">
                      <div class="arrow">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </div>
                      <ul>
                        <li (click)="bookmarkCasting(casting.id)">Save</li>
                        <!-- <li>Share</li> -->
                      </ul>
                    </div>
                  </div> 
                    <h3 (click)="castingInner(casting.id)">{{casting.title | titlecase}}</h3>
                    <p class="toggle-sec">{{casting.short_description.substr(0, 50)}}
                      <a (click)="castingInner(casting.id)" class="read-more">More...</a>
                    </p>
                    <div class="details">
                      <div class="details-icons">
                        <i class="fa fa-transgender-alt" aria-hidden="true"></i>
                        <h4>{{casting.gender}}</h4>
                      </div>
                      <div class="details-icons" *ngIf="casting.closing_date != null">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <h4 >{{casting.closing_date}}</h4>
                      </div>
                      <div class="details-icons">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4>{{casting.location}}</h4>
                      </div>
                    </div>
            
                    <div class="card-btn">
                      <div class="slide-btn" *ngFor="let tag of casting.tags;">
                        <a href="#">{{tag}}</a>
                      </div>         
                    </div>
                  </div>                  
                  <div class="item" *ngIf="!endingSoonData && loading">
                    <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                  </div>
                  <div *ngIf="!endingSoonData && loading" class="no-data">
                    <img src="../../../assets/img/image.png">
                    <h2>No Data Available</h2>
                  </div>
            </div>
        </div>
    </div>
    <app-footer [pageName]="pageName"></app-footer>   
</body>