/*coming-soon*/
.comming-soon {height: calc(100vh - 135px); display: flex;align-items: center; justify-content: center; background: #fff; position: absolute; left: 0;right: 0; bottom: 0;}
.cms img {  width: 70%;margin: 0 auto;  display: flex; position: relative; bottom: 55px;}
.cms h3 { font-size: 23px;   text-align: center;}

/*coming-soon*/
