<div class="splash7">
    <img src="../../assets/img/splash-img1.png">
    <img src="../../assets/img/splash-img3.png">
          <div class="container">
              <div class="splash-content">
        <img src="../../assets/img/MCCC-LOGOWHITE.png">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s.</p>
        <p>Lorem Ipsum is simply dummy text of the printing.</p>
        <a href="signup-name"><button class="sign-up" type="btn">Sign Up</button></a>
        <div class="or">
          <hr>Or<hr>
        </div>
        <button class="login-fb" type="btn" (click)="loginWithFacebook()"><i class="fa fa-facebook"></i> Login with Facebook</button>
        <button class="login-g" type="btn" (click)="loginWithGoogle()"><img src="../../assets/img/icon.png">Login with google</button>
              </div>
          </div>
      </div>
  <div class="footer">
    <a href="signin"><button class="sign-in" type="btn">Sign In</button></a>
  </div>
  <!-- <div *ngIf="isLoggedin === true">
    <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="email" id="email" readonly>
    </div>
  
    
  </div> -->
  