.thnk .form_areas {
    width: 90%;
    font-family: 'Gilroy';
    text-align: center;
    background: #fff;
    margin: 2rem auto 0;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    top: 31px;
    height: 90vh;
    left: 0;
    right: 0;
}

.hd-icons {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* @media only screen and (max-width: 768px) */

.header {
    position: absolute;
    width: 100%;
    padding: 20px 15px;
}