<body class="hm_pg">
    <div class="thnk evnt">
      <img src="../../assets/img/apply.png">
      <div class="container">
        <div class="header hd-icons">
          <!-- <a [routerLink]="['/workshop/1']"><img src="../../assets/img/back.png" /></a>
          <a [routerLink]="['/home']"><img src="../../assets/img/home.png" /></a> -->
        </div>
        <div class="form_areas">
          <img src="../../assets/img/kite.png">
          <h1>Thank You!</h1>
          <h4>for Enrolling '{{name}}'</h4>
          <!-- <h5>Your Application No. is MCCC00143</h5> -->
          <div class="thnk-btn">
            <a [routerLink]="['/home']">Let’s Explore</a>
          </div>
        </div>
      </div>
    </div>
</body>    