.about{
    p{
        font-size: 14px;
        line-height: 25px;
        color: #000;
        font-weight: 400;
        padding-top: 20px;
    }
}
body.dark-mode-active{
    .about{
        p{
            color: #fff;
        }
    }
}