.main.sidePaading0{
    padding: 0;
}
.casting_inner{
    .mainHeader{
        .top_header{
            .arrowLeft{
                height: 25px;
                ion-icon{
                    font-size: 25px;
                    color: #ff6454;
                }
            }
        }
    }
    .main_wrppers{
        margin-top: 70px;
        margin-bottom: 20px;
        .castingImg{
            position: relative;
            img{
                width: 100%;
                object-fit: cover;
            }
            .shaveIcon{
                position: absolute;
                right: 20px;
                bottom: 10px;
                i{
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
        .castingContent{
            padding: 20px 5% 0;
            h5{
                font-size: 17px;
                color: #000;
            }
            p{
                font-size: 14px;
                color: #000;
                line-height: normal;
            }
            .cating_details{
                list-style: none;
                margin: 0;
                padding: 0;
                column-count: 2;
                margin-bottom: 50px;
                .head{
                    font-size: 14px;
                    color: #000;
                    i{
                        padding-right: 4px;
                    }
                }
                label{
                    font-size: 12px;
                    font-weight: 600;
                    color: #ff6454;
                }
            }
            .castingApply{
                width: 100%;
                border: none;
                background: #ff6454;
                color: #fff;
                font-size: 16px;
                text-align: center;
                border-radius: 50px;
                padding: 8px 0;
                margin-bottom: 50px;
            }
        }
       
    }
}