
.passwords{
    .forms{
        .formGroup{
            .instructions{
                padding-top: 14px;
                label{
                    font-size: 15px;
                    line-height: 22px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        border-bottom: 1px solid #ff6454;
                        width: 100%;
                    }
                }
                ul{
                    li{
                        i.fa-circle{
                            padding-right: 5px;
                            color: #ff6454;
                        }
                        i.fa-check-circle{
                            padding-right: 5px;
                            color: #34C759;
                        }
                    }
                }
            }
            .otpInputs{
                input{
                    width: 20%;
                }
            }
        }
    }
}