
.passwords{
    .forms{
        .formGroup{
            .instructions{
                padding-top: 14px;
                label{
                    font-size: 15px;
                    line-height: 22px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        border-bottom: 1px solid #ff6454;
                        width: 100%;
                    }
                }
                ul{
                    li{
                        font-size: 15px;
                        color: #000;
                        i.fa-circle{
                            padding-right: 5px;
                            color: #ff6454;
                        }
                        i.fa-check-circle{
                            padding-right: 5px;
                            color: #34C759;
                        }
                    }
                }
            }
            .otpInputs{
                display: flex;
                align-items: center;
                justify-content: space-between;
                input{
                    width: 20%;
                    border: 2px solid #ff6454;
                    background: transparent;
                    border-radius: 5px;
                    line-height: 40px;
                    padding: 0 20px;
                    font-size: 16px;
                    &:focus-visible{
                        outline: none;
                    }
                }
            }
            .otp_para{
                font-size: 12px;
                color: #000;
                line-height: normal;
                padding-top: 10px;
                padding-bottom: 20px;
                margin-bottom: 0;
            }
        }
        .cantReceiveCode{
            text-align: center;
            font-size: 15px;
            color: #000;
            font-weight: 600;
            margin-bottom: 50px;
            a{
                text-decoration: underline;
            }
        }
        .termConditions{
            .term__conditions{
                color: #000;
                text-decoration: underline;
            }
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + label {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 20px;
                font-size: 15px;
                color: #000;
                cursor: pointer;
                margin-bottom: 60px;
                -webkit-user-select: none;
                &::before{
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    border: 2px solid #ff6454;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 1;
                    -webkit-transition: all .12s, border-color .08s;
                    transition: all .12s, border-color .08s;
                }
            }
            input[type="checkbox"]:checked + label:before {
                width: 10px;
                top: -5px;
                left: 5px;
                border-radius: 0;
                opacity: 1;
                border-top-color: transparent;
                border-left-color: transparent;
                transform: rotate(45deg);
            }
            .term_conditons{
                height: 80vh;
                top: initial;
                bottom: 0;
                .modal-dialog{
                    height: 80vh;
                    top: initial;
                    bottom: 0;
                    .modal-content{
                        padding-top: 100px;
                        .modal-header{
                            // justify-content: flex-end;
                            border: none;
                            width: 85%;
                            margin: 5px auto 0;
                            padding: 0;
                            border-top: 2px solid #ff6454;
                            .modal-title{
                                margin-top: 50px;
                                font-size: 17px;
                                color: #000;
                            }
                        }
                        .modal-body{
                            width: 85%;
                            margin: 0 auto;
                            padding: 0;
                            .termConditionsData{
                                .text{
                                    color: #000;
                                    font-weight: 600;
                                    label{
                                        font-size: 14px;
                                    }
                                    p{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}