  // humberger-start
  #nav-icon4 {
    width: 35px;
    height: 25px;
    position: relative;
    // margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    text-align:center;
  }
  .nav-tabs.lined .nav-item .nav-link{
    font-size: 12px;
  }
  
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ff6454;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }  
  /* Icon 4 */
  
  #nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width:80%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #nav-icon4 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width:60%;
    left: 50%;
    transform: translateX(-50%);
  }
  // humberger-end
  // sideBar-start
  .offcanvas{
    z-index: 99999;
  }
  #sidebarPanel .offcanvas-body{
      margin-top: 0px;
      padding-top: 80px;
    //   background: url('../img/img/sidebarBg.webp');
    background: linear-gradient(131deg,#d5eef2, #ddbdda);
  }
  .profileBox{
    background: #d5eef2;
      .image-wrapper{
          margin-right: 5px;
          .imaged{
              width: 64px;
              height: 64px;
          }
      }
      .in{
        font-size: 16px;
        color: #000;
        strong{
            color: #000;
            font-size: 16px;
        }
      }
      .close-sidebar-button{
        ion-icon{
            font-size: 30px;
            color: #fff;
        }
      }
  }
  .listview{
      a.item{
          min-height: 40px;
          .in{
              font-size: 16px;
              color: #000;
          }
          &::after{
            background-image:none!important;
          }
      }
  }
  .image-listview > li:last-child a.item{
      padding-right: 20px;
  }


  .main{
      width: 100%;
      margin: 0 auto;
      padding: 0 5%;
      .mainHeader{
        position: fixed;
        width: 100%;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #fff;
        z-index: 9999;
        padding: 0 5%;
        box-shadow:0px 0px 8px #0004;
        .top_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            .lats_side{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .notification{
                    display: flex;
                    margin-right: 10px;
                    position: relative;
                    ion-icon{
                        font-size: 30px;
                        color: #ff6454;
                        transform: rotate(-7deg);
                    }
                    .notificationsCount{
                        position: absolute;
                        top: -5px;
                        right: 5px;
                        width: 14px;
                        height: 14px;
                        background: #ff6454;
                        border-radius: 50%;
                        color: #fff;
                        text-align: center;
                        line-height: 14px;
                        font-size: 11px;
                    }
                }
            }
            .avtars{
                .avatar{
                    width: 34px;
                    height: 34px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0px 3px 6px 1px #0004;
                }
            } 
        }
        .bottomHeader{
            padding-top: 15px;
            height: 66px;
            .tabs{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .box{
                    .label{
                        font-size: 14px;
                        color: #000;
                    }
                    text-align: center;
                }
            }
        }
      }
  }
    .form-switch .form-check-label:before{
        height: 24px;
        left: 0;
        top: 0;
    }
    .form-switch .form-check-label:after{
        height: 25px;
        left: 0;
        top: 0;
    }
    .form-switch .form-check-input:checked ~ .form-check-label:before{
        left: 32px;
    }
  // sideBar-end

    // menucss-start
    .circleMenu{
        height: 70px;
        position: fixed;
        left: 50%;
        bottom: 0;
        background: #fff;
        width: 100%;
        z-index: 9999;
        width: 70px;
        transform: translateX(-50%);
        border-radius: 50%;
  }

    .circular-menu {
      position: fixed;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);
        .floating-btn {
        display: block;
        width: auto;
        height: auto;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
        color: hsl(0, 0%, 100%);
        text-align: center;
        line-height: 3.9;
        cursor: pointer;
        outline: 0;
      }
    }

    .circular-menu.active .floating-btn {
      box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
    }
    
    .circular-menu .floating-btn:active {
      box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
    }
    
    .circular-menu .floating-btn i {
      font-size: 1.3em;
      transition: transform .2s;  
    }
    
    .circular-menu.active .floating-btn i {
      transform: rotate(-45deg);
    }
    
    .circular-menu:after {
      display: block;
      content: ' ';
      width: 45px;
      height: 45px;
      border-radius: 50%;
      position: absolute;
      top: 0%;
      right: 6px;
      // left: 50%;
      z-index: -2;
      background-color: transparent;
      transition: all .3s ease;
      // transform: translate(-50%,-50%);
    }
    
    .circular-menu.active:after {
      transform: scale3d(5.5, 5.5, 1);
      transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
      top: 20px;
      background: #c8c8c8;
      left: 0;
    }
    
    .circular-menu .items-wrapper {
      padding: 0;
      margin: 0;
      opacity: 0;
      visibility: hidden;
    }
    .circular-menu a.floating-btn{
      .cross__Menu{
        display: none;
      }
    }
    .circular-menu.active .items-wrapper{
      opacity: 1;
      visibility: visible;
    }
    .circular-menu.active a.floating-btn{
      .cross__Menu{
        display: block;
        font-size: 45px;
      }
      .logo__Menu{
        display: none;
      }
    }
    
    .circular-menu .menu-item {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      text-decoration: none;
      color: hsl(0, 0%, 100%);
      font-size: 1em;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      text-align: center;
      line-height: 3;
      // background-color: hsla(0,0%,0%,.1);
      transition: transform .3s ease, background .2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      label{
        line-height: normal;
        color: #000;
      }
    }
    
    /* .circular-menu .menu-item:hover {
      background-color: hsla(0,0%,0%,.3);
    } */
    
    .circular-menu.active .menu-item {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .circular-menu.active .menu-item:nth-child(1) {
      transform: translate3d(5.5em,0em,0)
    }
    
    .circular-menu.active .menu-item:nth-child(2) {
      transform: translate3d(50px,-55px,0);
    }
    
    .circular-menu.active .menu-item:nth-child(3) {
      transform: translate3d(-50px,-55px,0);
    }
    
    .circular-menu.active .menu-item:nth-child(4) {
      transform: translate3d(-6em,0em,0);
    }
    // menucss-end
    .main_wrppers{
      margin-bottom: 70px;
      margin-top: 140px;
      .banner{
        width: 100%;
        height: 182px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        img{
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
        .banner_content{
          position: absolute;
          top: 50%;
          left: 20px;
          // color: #fff;
          transform: translateY(-50%);
          h5{
            font-size: 22px;
            font-weight: 500;
            line-height: normal;
            margin: 0;
            color: #fff;
          }
          p{
            font-size: 16px;
            color: #fff;
            line-height: normal;
          }
        }
      }
      .casingCalls{
        .casingCallHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 30px;
          padding-bottom: 20px;
    
          p{
            font-size: 16px;
            color: #000;
            margin: 0;
            position: relative;
            padding-left: 10px;
            &::before{
              content: '';
              width: 4px;
              height: 100%;
              background: linear-gradient(160deg,#79caf1, #0e517b);
              position: absolute;
              top: 0;
              left: 0;
            }
            &.primary__color{
              &::before{
                background: linear-gradient(160deg, #f6857a69, #ff6454);
              }
            }
            &.secondary__color{
              &::before{
                background: linear-gradient(160deg, #c18c2c63, #c18c2c);
              }
            }
          }
          span{
            a{
              font-size: 14px;
              color: #000;
            }
          }
       }
       .boxs{
        border: 1px solid #000;
        padding: 20px;
        border-radius: 25px;
         .boxHead{
           display: flex;
           align-items: center;
           justify-content: space-between;
           h5{
             a{
               font-size: 17px;
               color: #ff6454;
             }
           }
         }
         p{
           margin-bottom: 0;
           a{
            line-height: normal;
            display: block;
            color: #000;
            font-size: 16px;
           }
         }
         ul.userDetails{
           padding: 0;
           margin: 0;
           list-style: none;
           padding: 10px 0;
           li{
             position: relative;
             padding-left: 15px;
             i,ion-icon {
                font-size: 12px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
             }
             font-size: 12px;
             color: #000;
           }
         }
         .labelBtns{
           label{
            font-size: 14px;
            color: #fff;
            padding: 0 8px;
            border-radius: 15px;
            background: #ff6454;
            line-height: 20px;
           }
         }
       }
       .videoPlay{
         position: relative;
         img{
          width: 100%;
          height: 190px;
          object-fit: cover;
          border-radius: 20px;
         }
         .play__ionc{
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           img{
            width: auto;
            height: auto;
           }
         }
       }
       .bts_popular_slider{
        &.bts_popular_sliderSecond{
          padding-left: 0px!important; // half partial
          .slick-list{
              padding-left: 0px!important; // half partial
          }
      }
         .btsSlioder{
           position: relative;
          //  width: 150px!important;
           height: 190px;
           margin-right: 10px;
           img{
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
            height: 100%;
           }
           .btsPlay_icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            img{
              width: auto;
              height: auto;
            }
           }
         }
       }
       .moresliderVideos{
         .moreSlider{
           .more_V_box{
            width: 104px;
            height: 104px;
            background: #2790cf;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-right: 15px;
            span{
              font-size: 16px;
              text-align: center;
            }
            &.primaryColor{
              background: #ea5d49;
            }
           }
         }
       }
      }
    }