.thankyou_casting{
    .imgContent{
        .btn_ctnt{
            font-size: 12px;
            color: #000;
            text-align: center;
            margin-bottom: 30px;
            padding-top: 50px;
            line-height: normal;
        }
    }
}
body.dark-mode-active{
    .thankyou_casting{
        .imgContent{
            .btn_ctnt{
                color: #fff;
            }
        }
    }
}