.btn-secondary {
    text-align: left;
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
/* .checkbox-content {
    display: flex;
}
.checkbox_txt {
    display: flex;
    width: 290px;
    flex-direction: column;
} */

