.btn-secondary {
    text-align: left;
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
.bf-lg-term {  height: 100%;text-align: center;  margin: 0;padding-top: 10px;}
 .t_c {  background: #F4F5F6; padding: 15px; display: block; align-items: end; justify-content: center; height: 450px;  overflow-y: auto; overflow-x: hidden;}
 .t_c h3 {font-size: 16px;  text-align: left; font-weight: bold;}
 .t_c p {  text-align: justify;font-size: 14px;}
 .bf-lg-term a.nt-btn.submit { margin-top: 1rem !important;}
.tms-cdt {height: 100% !important; overflow-y: auto !important; overflow-x: hidden !important;}
/* .checkbox-content {
    display: flex;
}
.checkbox_txt {
    display: flex;
    width: 290px;
    flex-direction: column;
} */

