<body class="hm_pg">  
  <app-header></app-header>
  <app-sticky-menu [stickymenu]='stickymenu'></app-sticky-menu>
  <div class="banner">
    <div class="container">
      <ngx-slick-carousel class="carousel slick_sliders" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ baseUrl+slide.banner_image_path+slide.casting_banner_image }}" alt="" width="100%">
          <div class="container">
            <div class="content">
              <h1>Casting Call</h1>
              <p>Lorem Ipsum is simply<br> dummy text </p>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      <div class="item" *ngIf="!loading">
        <ngx-skeleton-loader count="6"></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div class="required-tbs" *ngIf="!nonewcall">
    <div class="container">
      <div class="tabs">
        <h2>New Casting Callssss
          <hr class="on">
          <hr class="tw">
        </h2>
        <a [routerLink]="['/casting-all/1']">View All</a>
      </div>
      <div class="card-tbs" *ngFor="let casting of newCasting; let i=index;">
        <div class='dt-tabs'>
          <div class="show-hidden-menu" (click)="clickEvent(casting.id)">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="hidden-menu" *ngIf="status && casting.id == cardnum ? 'active':''">
            <div class="arrow">
              <i class="fa fa-caret-up" aria-hidden="true"></i>
          </div>
            <ul>
              <li (click)="bookmarkCasting(casting.id)">Save</li>
              <!-- <li>Share</li> -->
            </ul>
          </div>
        </div>        
        <h3 (click)="castingInner(casting.id)">{{casting.title | titlecase}}</h3>
        <p class="toggle-sec">{{casting.short_description}}
          <a (click)="castingInner(casting.id)" class="read-more">More...</a>
        </p>
        <div class="details">
          <div class="details-icons">
            <i class="fa fa-transgender-alt" aria-hidden="true"></i>
            <h4>{{casting.gender}}</h4>
          </div>
          <div class="details-icons" *ngIf="casting.closing_date != null">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h4>{{casting.closing_date}}</h4>
          </div>
          <div class="details-icons">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>{{casting.location}}</h4>
          </div>
        </div>

        <div class="card-btn">
          <div class="slide-btn" *ngFor="let tag of casting.tags;">
            <a>{{tag}}</a>
          </div>         
        </div>
      </div>
      <div class="item" *ngIf="!loadingnc">
        <ngx-skeleton-loader count="6"></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div class="recommended-tbs" *ngIf="!norecomended">
    <div class="container">
      <div class="tabs">
        <h2>Recommended Calls
          <hr class="on">
          <hr class="tw">
        </h2>
        <a [routerLink]="['/casting-all/2']" >View All</a>
      </div>
      <div class="card-tbs" *ngFor="let casting of recomended; let i=index;">
        <div class="more">
          <button id="more-btn" class="more-btn">
            <span class="more-dot"></span>
            <span class="more-dot"></span>
            <span class="more-dot"></span>
          </button>
          <div class="more-menu">
            <div class="more-menu-caret">
              <div class="more-menu-caret-outer"></div>
              <div class="more-menu-caret-inner"></div>
            </div>
            <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Save</button>
              </li>
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Share</button>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="grn" (click)="castingInner(casting.id)">{{casting.title}}</h3>
        <p class="toggle-sec">{{casting.short_description}}
          <a (click)="castingInner(casting.id)" class="read-more">More...</a>
          <div class="details">
            <div class="details-icons">
              <i class="fa fa-transgender-alt" aria-hidden="true"></i>
              <h4>{{casting.gender}}</h4>
            </div>
            <div class="details-icons" *ngIf="casting.closing_date != null">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4>{{casting.closing_date}}</h4>
            </div>
            <div class="details-icons">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h4>{{casting.location}}</h4>
            </div>
          </div>  
          <div class="card-btn">
            <div class="slide-btn" *ngFor="let tag of casting.tags;">
              <a>{{tag}}</a>
            </div>
          </div>
      </div>
      <div class="item" *ngIf="!loadingnr">
        <ngx-skeleton-loader count="6"></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div class="call-ending-tbs" *ngIf="!nocallend">
    <div class="container">
      <div class="tabs">
        <h2>Call Ending Soon
          <hr class="on">
          <hr class="tw">
        </h2>
        <a [routerLink]="['/casting-all/3']">View All</a>
      </div>
      <div class="card-tbs" *ngFor="let casting of callEnding; let i=index;">
        <div class="more">
          <button id="more-btn" class="more-btn" (click)="clickEvent(casting.id)">
            <span class="more-dot"></span>
            <span class="more-dot"></span>
            <span class="more-dot"></span>
          </button>
          <div class="more-menu" *ngIf="status && casting.id == cardnum ? 'active':''">
            <div class="more-menu-caret">
              <div class="more-menu-caret-outer"></div>
              <div class="more-menu-caret-inner"></div>
            </div>
            <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
              <li class="more-menu-item" role="presentation" (click)="bookmarkCasting(casting.id)">
                <button type="button" class="more-menu-btn" role="menuitem">Save</button>
              </li>
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Share</button>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="yto" (click)="castingInner(casting.id)">{{casting.title | titlecase}}</h3>
        <p class="toggle-sec">{{casting.short_description}}
          <a (click)="castingInner(casting.id)" class="read-more">More...</a>
        </p>
        <div class="details">
          <div class="details-icons">
            <i class="fa fa-transgender-alt" aria-hidden="true"></i>
            <h4>{{casting.gender}}</h4>
          </div>
          <div class="details-icons" *ngIf="casting.closing_date != null">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h4 >{{casting.closing_date}}</h4>
          </div>
          <div class="details-icons">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>{{casting.location}}</h4>
          </div>
        </div>

        <div class="card-btn">
          <div class="slide-btn" *ngFor="let tag of casting.tags;">
            <a>{{tag}}</a>
          </div>
        </div>

      </div>
      <div class="item" *ngIf="!loadingnce">
        <ngx-skeleton-loader count="6"></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div class="events-banner" *ngIf="!upcomingsEvents[0].noData">
    <div class="container">
      <ngx-slick-carousel class="carousel slick_sliders evnts_sliders" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
      
        <div ngxSlickItem class="slider">
          <img src="../../../assets/img/event-pop.png">
        </div>

        <div ngxSlickItem class="slider">
          <img src="../../../assets/img/event-pop.png">
        </div>

        <div ngxSlickItem class="slider">
          <img src="../../../assets/img/event-pop.png">
        </div>
    </ngx-slick-carousel>
    </div>
  </div>

  <div class="upcoming-events-tbs" *ngIf="!upcomingsEvents[0].noData">
    <div class="container">
      <div class="tabs">
        <h2>Upcoming events
          <hr class="on">
          <hr class="tw">
        </h2>
        <a href="#">View All</a>
      </div>
      <div class="card-tbs" *ngFor="let upcoming of upcomingsEvents">
        <div *ngIf="upcoming.noData">No Data Found</div>
        <div *ngIf="!upcoming.noData">
        <div class="more">
          <button id="more-btn" class="more-btn">
            <span class="more-dot"></span>
            <span class="more-dot"></span>
            <span class="more-dot"></span>
          </button>
          <div class="more-menu">
            <div class="more-menu-caret">
              <div class="more-menu-caret-outer"></div>
              <div class="more-menu-caret-inner"></div>
            </div>
            <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Save</button>
              </li>
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Share</button>
              </li>
            </ul>
          </div>
        </div>
        <h3>Title: {{upcoming.title | titlecase}}r</h3>
        <p class="toggle-sec">{{upcoming.description}}
          <a (click)="eventInner(upcoming.id)">Read more</a>
        </p>
        <div class="details">
          <div class="details-icons">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>{{upcoming.location | titlecase}}</h4>
          </div>
          <div class="details-icons">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h4>{{upcoming.start_date | date : "MMM,d,y"}}</h4>
          </div>
          <div class="details-icons">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h4>{{upcoming.start_date | date : "h:mm a"}}</h4>
          </div>
        </div>
        </div>
        <div class="item" *ngIf="!upcomings_loding">
          <ngx-skeleton-loader count="12"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>

  <div class="events-tbs" *ngIf="!event_for_u[0].noData">
    <div class="container">
      <div class="tabs">
        <h2>Events for You
          <hr class="on">
          <hr class="tw">
        </h2>
        <a href="#">View All</a>
      </div>
      <div class="card-tbs" *ngFor="let eventforu of event_for_u">
        <div *ngIf="eventforu.noData">No Data Found</div>
        <div *ngIf="!eventforu.noData">
        <div class="more">
          <button id="more-btn" class="more-btn">
            <span class="more-dot"></span>
            <span class="more-dot"></span>
            <span class="more-dot"></span>
          </button>
          <div class="more-menu">
            <div class="more-menu-caret">
              <div class="more-menu-caret-outer"></div>
              <div class="more-menu-caret-inner"></div>
            </div>
            <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Save</button>
              </li>
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Share</button>
              </li>
            </ul>
          </div>
        </div>
        <h3>Title: {{eventforu.title | titlecase}}r</h3>
        <p class="toggle-sec">{{eventforu.description}}
          <a (click)="eventInner(eventforu.id)">Read more</a>
        </p>
        <div class="details">
          <div class="details-icons">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>{{eventforu.location | titlecase}}</h4>
          </div>
          <div class="details-icons">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h4>{{eventforu.start_date | date : "MMM,d,y"}}</h4>
          </div>
          <div class="details-icons">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h4>{{eventforu.start_date | date : "h:mm a"}}</h4>
          </div>
        </div>
        
        <div class="item" *ngIf="!forU_loding">
          <ngx-skeleton-loader count="12"></ngx-skeleton-loader>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="behinde_screen">
    <div class="container">

      <img src="../../../assets/img/bts1.png" class="logo">
      <div class="tabs behinde">
        <h2>Popular BTS </h2>
        <a [routerLink]="['/bts-inner/1']">View All</a>
      </div>
      <ngx-slick-carousel class="carousel behinde-screen_sliders" #slickModal="slick-carousel" [config]="trns_sliders"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
          <div *ngFor = " let vid of popularBtsVideos" [routerLink]="['/bts-video-view/',vid.id,1]"  ngxSlickItem class="slider">
            <!-- <img  src="{{hostUrl}}{{vid.thumbnail_path}}{{vid.thumbnail}}"> -->
            <img *ngIf="vid.youtube_thumbnail == null " src="{{hostUrl}}{{vid.thumbnail_path}}{{vid.thumbnail}}">
					  <img *ngIf="vid.youtube_thumbnail != null " src="{{vid.youtube_thumbnail}}">
          
          </div>
      </ngx-slick-carousel>
      <div class="video-img">
        <div class="video-txt">
          <h2>Top BTS</h2>
          <a [routerLink]="['/bts-inner/2']">View All</a>
        </div>
        <div class="vd-icon" *ngFor="let vid of topBtsVideos">
          <a class='img_link' [routerLink]="['/bts-video-view/',vid.id,2]" >
            <!-- <img  src="{{hostUrl}}{{vid.thumbnail_path}}{{vid.thumbnail}}"> -->
            <img *ngIf="vid.youtube_thumbnail == null " src="{{hostUrl}}{{vid.thumbnail_path}}{{vid.thumbnail}}">
					  <img *ngIf="vid.youtube_thumbnail != null " src="{{vid.youtube_thumbnail}}">
          
            <div class="icon"><img  src="../../assets/img/play.png"></div>
          </a>
        </div>
      </div>

      <div class="video-opt">
        <div class="slide-hd">
          <h2>Watch more videos</h2>
          <!-- <a href="#">View All</a> -->
        </div>
        <ngx-slick-carousel class="carousel video_slider" #slickModal="slick-carousel" [config]="trns_sliders"
          (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          <div *ngFor="let catg of categories; let i=index;" [routerLink]="['/bts-inner/',catg.id]" [ngStyle]="{'background': category_color[i]}" ngxSlickItem class="slider vide1 vdSliderTxt">
            <h3>{{catg.category}}</h3>
          </div>
          
          
        </ngx-slick-carousel>
      </div>
    </div>
  </div>

  <div class="training-slide">
    <div class="container">
      <ngx-slick-carousel class="carousel training_sliders" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem class="slider">
          <img src="../../../assets/img/traning1.png">
        </div>

        <div ngxSlickItem class="slider">
          <img src="../../../assets/img/traning1.png">
        </div>

        <div ngxSlickItem class="slider">
          <img src="../../../assets/img/traning1.png">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <div class="upcoming-workshop-tbs" *ngIf="upcomingData != 'No Data' ">
    <div class="container">
      <div class="tabs">
        <h2>Upcoming Workshops
          <hr class="on">
          <hr class="tw">
        </h2>
        <a *ngIf="upcomingData != 'No Data' " [routerLink]="['/workshop/1']">View All</a>
      </div>
      <div class="card-tbs" *ngFor="let data of upcomingData">
        <div class='tabs'>
          <div class="show-hidden-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="hidden-menu" style="display: none;">
            <ul>
              <li>Save</li>
              <li>Share</li>
            </ul>
          </div>
        </div>
        <h3>{{data.title}}</h3>
        <p  *ngIf=" expanded !=  data.id">
          {{data.description.substr(0, 30)}}
           <span (click)="expanded = data.id"
             class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span></p>
         <p  *ngIf="expanded ==  data.id ">{{data.description}}
           <span (click)="expanded = 0"
             class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span></p>
      </div>
      <div class="no-data" *ngIf="upcomingData == 'No Data' ">
        <h2>No Data Available</h2>
      </div>
      
    </div>
  </div>

  <div class="workshop-ending-tbs" *ngIf="endingsoonData != '' ">
    <div class="container">
      <div class="tabs">
        <h2>Workshop Ending Soon
          <hr class="on">
          <hr class="tw">
        </h2>
        <a *ngIf="endingsoonData != '' " [routerLink]="['/workshop/2']">View All</a>
      </div>
      <div class="card-tbs" *ngFor="let data of endingsoonData">
        <div class="more">
          <button id="more-btn" class="more-btn">
            <span class="more-dot"></span>
            <span class="more-dot"></span>
            <span class="more-dot"></span>
          </button>
          <div class="more-menu">
            <div class="more-menu-caret">
              <div class="more-menu-caret-outer"></div>
              <div class="more-menu-caret-inner"></div>
            </div>
            <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Save</button>
              </li>
              <li class="more-menu-item" role="presentation">
                <button type="button" class="more-menu-btn" role="menuitem">Share</button>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="grn">{{data.title}}</h3>
        <p  *ngIf="expanded !=  data.id">
          {{data.description.substr(0, 30)}}
           <span (click)="expanded = data.id"
             class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span></p>
         <p  *ngIf="expanded ==  data.id ">{{data.description}}
           <span (click)="expanded = 0"
             class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span></p>
      </div>
      <div class="no-data" *ngIf="endingsoonData == '' ">
        <h2>No Data Available</h2>
      </div>

    </div>
  </div>
  <div _ngcontent-xmm-c57="" class="Previous-workshops-tbs" *ngIf="previosData != '' ">
    <div _ngcontent-xmm-c57="" class="container">
        <div _ngcontent-xmm-c57="" class="tabs">
            <h2 _ngcontent-xmm-c57="">
                Previous Workshops
                <hr _ngcontent-xmm-c57="" class="on" />
                <hr _ngcontent-xmm-c57="" class="tw" />
            </h2>
            <a _ngcontent-xmm-c57="" *ngIf="previosData != '' " [routerLink]="['/workshop/3']">View All</a>
        </div>
        <div _ngcontent-xmm-c57="" class="card-tbs" *ngFor="let data of previosData">
            <div _ngcontent-xmm-c57="" class="more">
                <button _ngcontent-xmm-c57="" id="more-btn" class="more-btn">
                    <span ngcontent-xmm-c57="" class="more-dot"></span><span ngcontent-xmm-c57="" class="more-dot"></span><span _ngcontent-xmm-c57="" class="more-dot"></span>
                </button>
                <div _ngcontent-xmm-c57="" class="more-menu">
                    <div _ngcontent-xmm-c57="" class="more-menu-caret">
                        <div _ngcontent-xmm-c57="" class="more-menu-caret-outer"></div>
                        <div _ngcontent-xmm-c57="" class="more-menu-caret-inner"></div>
                    </div>
                    <ul _ngcontent-xmm-c57="" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true" class="more-menu-items">
                        <li ngcontent-xmm-c57="" role="presentation" class="more-menu-item"><button ngcontent-xmm-c57="" type="button" role="menuitem" class="more-menu-btn">Save</button></li>
                        <li ngcontent-xmm-c57="" role="presentation" class="more-menu-item"><button ngcontent-xmm-c57="" type="button" role="menuitem" class="more-menu-btn">Share</button></li>
                    </ul>
                </div>
            </div>
            <h3 _ngcontent-xmm-c57="" class="yto">{{data.title}}</h3>
            
            <p ngcontent-xmm-c57="" class="toggle-sec" *ngIf="expanded !=  data.id">
              {{data.description.substr(0, 30)}}
               <span ngcontent-xmm-c57="" (click)="expanded = data.id"
                 class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span></p>
             <p  *ngIf="expanded ==  data.id ">{{data.description}}
               <span ngcontent-xmm-c57="" (click)="expanded = 0"
                 class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span></p>
        </div>
        <div class="no-data" *ngIf="previosData == '' ">
          <h2>No Data Available</h2>
        </div>
        
    </div>
</div>
  <div class="train-banner">
    <div class="container">
      <img src="../../../assets/img/train3.png">
      <div class="traine-txt">
        <h2>Workshop <br><span class="tr-hd">BY Mukesh</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>

  <div class="trner">
    <div class="container">
      <ngx-slick-carousel class="carousel trns_sliders" #slickModal="slick-carousel" [config]="trns_sliders"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer1.png">
            <div class="slider-txt hv1">
              <h3>Anupam Kher</h3>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer2.png">
            <div class="slider-txt hv2">
              <h3>Sunu Sood</h3>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer3.png">
            <div class="slider-txt hv3">
              <h3>Mukesh Khanna</h3>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer4.png">
            <div class="slider-txt hv4">
              <h3>Amitabh Bacchan</h3>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer1.png">
            <div class="slider-txt hv1">
              <h3>Anupam Kher</h3>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer2.png">
            <div class="slider-txt hv2">
              <h3>Sunu Sood</h3>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer3.png">
            <div class="slider-txt hv3">
              <h3>Mukesh Khanna</h3>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slider">
          <div class="vdo-slide">
            <img src="../../../assets/img/trainer4.png">
            <div class="slider-txt hv4">
              <h3>Anupam Kher</h3>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <app-footer [pageName]="pageName"></app-footer>
</body>