<body class="hm_pg">
    <div class="term-condition">
       <img src="../../assets/img/ywl.png">
       <div class="container">
          <div class="header hd-icons">
             <a (click)="back()"><img src="../../assets/img/back.png" /></a>
             <a [routerLink]="['/home']"><img src="../../assets/img/home.png" /></a>
          </div>
          <div class="form_areas">
             <div class="terms">
                <h3>Terms & Conditions</h3>
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                     <div class="card-header" role="tab" id="heading01">
                        <a class="mb-0 accordion-header" (click)="addRotate(0)" [ngClass]="status ? 'rotate' : ''"  [id]="'heading01'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse01'" aria-expanded="false" [attr.aria-controls]="'collapse01'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Introduction and Acceptance
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse01" class="collapse" role="tabpanel" aria-labelledby="heading01"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                   <div class="card">
                      <div class="card-header" role="tab" id="heading02">
                         <a class="mb-0 accordion-header " (click)="addRotate(1)" [ngClass]="status ? 'rotate' : ''" [id]="'heading02'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse02'" aria-expanded="false" [attr.aria-controls]="'collapse02'">
                            <h5 class="mb-0">
                             <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Website Content and Premium Services
                            </h5>
                         </a>
                      </div>
                      <!-- Card body -->
                      <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="heading02"
                         data-parent="#accordionEx">
                         <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                         </div>
                      </div>
                   </div>
                   <div class="card">
                     <div class="card-header" role="tab" id="heading03">
                        <a class="mb-0 accordion-header " (click)="addRotate(2)" [ngClass]="status ? 'rotate' : ''" [id]="'heading03'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse03'" aria-expanded="false" [attr.aria-controls]="'collapse03'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Propritary Right
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="heading03"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading04">
                        <a class="mb-0 accordion-header " (click)="addRotate(0)" [ngClass]="status ? 'rotate' : ''" [id]="'heading04'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse04'" aria-expanded="false" [attr.aria-controls]="'collapse04'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> User Provided Content
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="heading04"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading05">
                        <a class="mb-0 accordion-header " (click)="addRotate(0)" [ngClass]="status ? 'rotate' : ''" [id]="'heading05'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse05'" aria-expanded="false" [attr.aria-controls]="'collapse05'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Third Party content and Links sites 
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="heading05"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading06">
                        <a class="mb-0 accordion-header " (click)="addRotate(1)" [ngClass]="status ? 'rotate' : ''" [id]="'heading06'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse06'" aria-expanded="false" [attr.aria-controls]="'collapse06'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Limited License
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="heading06"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading07">
                        <a class="mb-0 accordion-header " [id]="'heading07'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse07'" aria-expanded="false" [attr.aria-controls]="'collapse07'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Restriction of use
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse07" class="collapse" role="tabpanel" aria-labelledby="heading07"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading08">
                        <a class="mb-0 accordion-header " [id]="'heading08'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse08'" aria-expanded="false" [attr.aria-controls]="'collapse08'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Copyright Notices / Complaints
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse08" class="collapse" role="tabpanel" aria-labelledby="heading08"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading09">
                        <a class="mb-0 accordion-header " [id]="'heading09'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse09'" aria-expanded="false" [attr.aria-controls]="'collapse09'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> User Accounts
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="heading09"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>        
                  <div class="card">
                     <div class="card-header" role="tab" id="heading10">
                        <a class="mb-0 accordion-header " [id]="'heading10'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse10'" aria-expanded="false" [attr.aria-controls]="'collapse10'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Additional Terms
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                   <div class="card">
                     <div class="card-header" role="tab" id="heading11">
                        <a class="mb-0 accordion-header " [id]="'heading11'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse11'" aria-expanded="false" [attr.aria-controls]="'collapse11'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Entire Agreement 
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading12">
                        <a class="mb-0 accordion-header " [id]="'heading12'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse12'" aria-expanded="true" [attr.aria-controls]="'collapse12'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> Equipment and Internet Access
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" role="tab" id="heading13">
                        <a class="mb-0 accordion-header " [id]="'heading13'"  data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse13'" aria-expanded="true" [attr.aria-controls]="'collapse13'">
                           <h5 class="mb-0">
                            <i class="fa fa-angle-right rotate-icon2" aria-hidden="true"></i> No oral Agreements or Modifications 
                           </h5>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13"
                        data-parent="#accordionEx">
                        <div class="card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra augue nec magna pharetra faucibus. Mauris faucibus dignissim porta. Vivamus tortor dolor, volutpat eget nibh id, vulputate mattis diam. </p>
                        </div>
                     </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <app-footer [pageName]="pageName"></app-footer>
 </body>